@use "base/variables" as v;
@use "base/mixins" as m;

.contenedor-eventos {
    background-color: lighten(v.$negro, 13.85%) ;
    padding-bottom: 2rem;

    .eventos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .evento {
        display: block;
        border: 0.1rem solid v.$negro;
        background-color: v.$blanco;
        border-radius: 1.5rem;
        box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.15);
        margin: 1rem;
        @include m.desktop {
            max-width: 135rem;
            max-height: 40rem;
            @include m.grid-2(1rem);
        }

        img.evento-imagen {
            height: auto;
            max-height: inherit;
            max-width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            width: auto;
            border-radius: 1rem;
            margin: 0 auto;
            justify-self: center;
            align-self: center;
            @include m.desktop {
                padding: .5rem;
                border-radius: 2rem;
            }
        }
        .evento-contenido {
            width: 95%;
            margin: 0 auto;
            h2 {
                margin: 1rem 0;
            }
            p {
                text-align: justify;
                font-size: 1.6rem;
                margin: 1rem 0;
                @include m.small {
                    font-size: 2rem;
                }
                &.evento-fecha {
                    text-align: right;
                    font-weight: bold;
                }
            }
        }
    }
}
