@use "base/variables" as v;
@use "base/mixins" as m;

/* Estilos para la galería */
div.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 95%;
    margin: auto;
    gap: 10px;
    padding: 40px 0;
    overflow: hidden;

    img.gallery-img {
        width: 100%;
        height: 15rem;
        object-fit: cover;
        cursor: pointer;
    }
}

/* Estilos para el visualizador */
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(100, 100, 100, 0.9);
    overflow-x: hidden;
    .presentable {
        width: 100%;
        height: 100%;
    }
    .modal-content {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        .modal-content-img {
            width: 10rem;
            height: 10rem;
            @include m.small {
                width: 15rem;
                height: 15rem;
            }
            @include m.telefono {
                width: 25rem;
                height: 25rem;
            }
            @include m.tablet {
                width: 30rem;
                height: 30rem;
            }
            @include m.desktop {
                width: 40rem;
                height: 40rem;
            }
            overflow: hidden;
            align-self: center;
            justify-self: center;
            display: flex;
            align-items: center;
            justify-content: center;
            img#modal-image {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

.caption {
    text-align: center;
    margin-top: 2.5rem;
}

.navigation {
    align-items: center;
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    padding-top: 7.5rem;
    height: 100%;
    width: 100%;
    justify-items: center;
    justify-content: center;
    align-content: center;

    .close {
        z-index: 2;
        color: white;
        font-size: 35px;
        font-weight: bold;
        position: absolute;
        top: -30rem;
        right: -30rem;
        width: 40rem;
        height: 40rem;
        background-color: v.$rojo;
        border-radius: 100%;
        cursor: pointer;
        &.close:hover,
        &.close:focus {
            color: #999;
            text-decoration: none;
            cursor: pointer;
        }
        .close-icon {
            position: absolute;
            right: 0;
            width: 85%;
            height: 85%;
            display: flex;
            align-items: flex-end;
        }
    }

    button.boton {
        background-color: v.$rojo;
        border: none;
        border-radius: 1rem;
        color: #fff;
        cursor: pointer;
        padding: 1rem;
        transition: all 0.15s ease-in;
        width: 3.5rem;
        height: 3.5rem;
        align-self: center;
    }
}
